body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(2, 7, 49);
    color: white;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#title {
    font-size: 40px;
    margin: 0;
    text-align: center;
    width: 100%;
}
.tool {
    margin: 20px;
    padding: 4px;   
    border: 2px solid aqua;
    border-radius: 5px; 
    background-color: rgb(7, 1, 36);
    width: fit-content;
    cursor: pointer;
}
.hidden {
    display: none;
}
.tooltitle {
    margin: 15px;
}